*.env
*.env.local
.codegpt

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# SAM
backend/env/*.json
!backend/env/*.json.example
